{% extends "templates/layouts/admin.j2" if not request.headers.get("hx-request") else
"templates/layouts/admin_blank.j2"%}
{% block admin_title %}Quản lý Media{% endblock %}
{% block admin_body %}
<h1>Quản lý Media</h1>
{% endblock %}