PORT=8000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=check-in-app
DB_USER=postgres
DB_PASSWORD=
env=dev
BASE_URL=http://localhost:8000
SECRET_KEY=4MS05M2NkLWJlY2QyMTA4MTM5MSIsInJvbGUiOiJzdXBlcl9hZG1pbiIs
AUDIENCE=event_tracking_system_client
ISSUER=event_tracking_system
VERCEL_BLOB_SECRET=
VERCEL_BLOB_ACCESS=public
REDIS_URL=