<div class="navbar">
    {% include "templates/headers/title_logo.j2" %}
    <div class="nav-item" x-data="{
        darkModeText:null, 
        lightModeText: null, 
        customStyle: null, 
        isSidebar: false, 
        openDropdown: false, 
        async log_out(){
        const approved = await notify.modal.confirm('Đăng xuất', 'Bạn có chắc chắn muốn đăng xuất?');
        if (approved) {
            const response = await fetchHelper.post('auth/logout', {});
            if (response.status_code === 204) {
                notify.toast.success('Đăng xuất thành công', 'Đang chuyển hướng...');
                setTimeout(() => {
                    window.location.href = '{{ url_for('home') }}';
                }, 500);
            } else {
                notify.toast.error('Đăng xuất thất bại', 'Đã có lỗi xảy ra, vui lòng thử lại');
            }
        }
    },}">
        <div style="flex-grow: 1;">
            {% include "templates/headers/toggle_theme.j2" %}
        </div>
        {% if auth.is_authenticated%}
        <div class="dropdown-container">
            <button :class="'avatar ' + (openDropdown ? 'border' : '')" @click="openDropdown = !openDropdown">
                {% if auth.user.avatar_url or auth.user.file_url%}
                <img class="avatar-img" src="{{ auth.user.file_url if auth.user.file_url else auth.user.avatar_url }}"
                    alt="{{ auth.user.name }}">
                {% else %}
                {% include "static/public/icons/avatar.svg" %}
                {% endif %}
                <span x-show="$store.screen.isMobile === false" style="font-weight: bold;">
                    {{ auth.user.name if auth.user.name else auth.user.email }}
                </span>
            </button>
            <div class="dropdown border" x-show="openDropdown" x-transition.opacity.duration.300ms
                @click.outside="openDropdown = false">
                <a href="{{ url_for('me') }}" class="dropdown-button"
                    style="text-decoration: none; color: var(--foreground);">
                    {% include "static/public/icons/account.svg"%}
                    <span>Tài khoản</span></a>
                {% if auth.user.role and auth.user.role == 'ADMIN' or auth.user.role == 'SUPPER_ADMIN' %}
                <a href="{{ url_for('admin_dashboard') }}" class="dropdown-button"
                    style="text-decoration: none; color: var(--foreground);">
                    {% include "static/public/icons/manage.svg"%}
                    <span>Quản lý</span></a>
                {% endif %}
                <button class="dropdown-button logout" @click="await log_out()">
                    {% include "static/public/icons/logout.svg" %}
                    <span>Đăng xuất</span></button>
            </div>
        </div>
        {% else%}
        <a class="login-btn" href="{{ url_for('login_view') }}?redirect={{ request.url|string|urlencode }}"
            style="text-decoration: none;">
            {% include "static/public/icons/login.svg"%}
            <span x-show="$store.screen.isMobile === false" style="font-weight: bold;">Đăng nhập</span>
        </a>
        {% endif %}
    </div>
</div>
<style>
    .navbar {
        padding: 10px 5px;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .navbar::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--background);
        border-bottom: 1px solid var(--border);
        box-shadow: 0 2px 5px var(--border);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        z-index: -1;
        pointer-events: none;
    }

    .login-btn {
        padding: 12px 15px;
        background-color: var(--login-bg);
        border-radius: 10px;
        color: var(--background);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: fit-content;
        flex-grow: 2;
    }

    .login-btn:hover {
        transform: scale(1.01);
    }

    .logout {
        color: red;
    }

    .logout:hover {
        color: var(--logout);
        background-color: var(--logout-bg);
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .dropdown-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: 0;
        border: 0;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 5px;
        border-radius: 10px;
        padding: 10px;
        z-index: 999999 !important;
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
        background-color: var(--background);
        gap: 5px;
    }

    .dropdown-button {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--background);
        box-sizing: border-box;
        white-space: nowrap;
        outline: 0;
        border: 0;
        width: 100%;
    }

    .dropdown-button:hover {
        outline: 1px solid var(--border);
        box-shadow: 0 5px 10px var(--border);
        box-sizing: border-box;
    }

    .avatar {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        color: var(--foreground);
        background-color: transparent;
        outline: 0;
        border: 0;
    }

    .avatar:hover {
        outline: 1px solid var(--border);
        box-shadow: 0 5px 10px var(--border);
        box-sizing: border-box;
    }

    .avatar-img {
        width: 30px;
        height: 30px;
        border: 0;
        outline: solid 1px var(--foreground);
        border-radius: 50%;
    }

    .border {
        outline: 1px solid var(--border);
        box-shadow: 0 5px 10px var(--border);
        box-sizing: border-box;
    }
</style>