{% extends "templates/layouts/admin.j2" if not request.headers.get("hx-request") else
"templates/layouts/admin_blank.j2"%}
{% block admin_title %}Quản lý Nhân Viên{% endblock %}
{% block admin_body %}
{% endblock %}