{% extends "templates/index.j2" %}
{% block title %}Trang chủ - Check-in Events{% endblock %}

{% block body %}
{% include "templates/headers/index.j2" %}
<main class="site-main">
    {% include "templates/layouts/home.j2" %}
</main>
{% include "templates/footers/index.j2" %}
{% endblock %}
