{% extends "templates/layouts/admin.j2" if not request.headers.get("hx-request") else"templates/layouts/admin_blank.j2"
%}

{% block admin_title %}Quản lý sự kiện{% endblock %}

{% block admin_body %}
<div class="event-header">
    <h1>Quản lý sự kiện</h1>
</div>

{% include "templates/components/editor/editor.j2" %}
{% endblock %}